<div class="container">
  <div>
    <h2>Modifier un Produit :</h2>
  </div>
  <form>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Produit</label>
        <input readonly type="text" [(ngModel)]="currentProduct.id" name="productId" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom du Produit</label>
      <input type="text" [(ngModel)]="currentProduct.name" name="productName" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Prix Produit</label>
      <input type="number" [(ngModel)]="currentProduct.price" name="productprice" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date de création</label>
      <input type="date" [ngModel]="currentProduct.creationDate | date: 'yyyy-MM-dd'"
        (ngModelChange)=" currentProduct.creationDate= $event" name="creationDate" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Categorie</label>
      <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="updateCatId">
        @for(cat of categories; track cat.id){
        <option [value]="cat.id"> {{cat.name}}</option>
        }
      </select>
    </div>
    <div class="col-sm-16 col-md-16 col-lg-16">
      <label class="mb-2">Image :</label>
      <input type="file" (change)="onImageUpload($event)" class="form-control">
    </div>
    <div class="col-sm-16 col-md-16 col-lg-16">
      <img [src]="myImage" class="card-img-top img-fluid rounded-start" style="width: 500px; height: 300px" />
    </div>
    <div class="mt-2">
      <button type="submit" (click)="updateProduct()" class="btn btn-success">Modifer</button>
    </div>
  </form>
</div>
