<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        @if(products.length!=0)
        {
          <thead>
              <tr>
                <th>Line number</th>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Date Création</th>
              </tr>
          </thead>
        }
        @for (product of products; track product; let index=$index; let nbr=$count; let first = $first; let last= $last){
          @if(first){
            <h1>Nombre: {{nbr}}</h1>
          }
          <tbody>
            <tr>
              <td>{{index}}</td>
              <td>{{product.productId}}</td>
              <td>{{product.productName}}</td>
              <td>{{product.productPrice}}</td>
              <td>{{product.creationDate | date:'dd/MM/yyyy' }}</td>
            </tr>
          </tbody>
          @if(last){
            <h1>Nombre: {{nbr}}</h1>
          }
          }
          @empty {
            <h1>Aucun produit trouvé</h1>
          }
      </table>
    </div>
  </div>
</div>
