<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        @if(products.length!=0)
        {
          <thead>
              <tr>
                <th>Line number</th>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Date Création</th>
                <th>Catégorie</th>
                <th>Image</th>
              </tr>
          </thead>
        }
        @for (product of products; track product; let index=$index; let nbr=$count; let first = $first; let last= $last){
          @if(first){
            <h3>Nombre: {{nbr}}</h3>
          }
          <tbody>
            <tr>
              <td>{{index}}</td>
              <td>{{product.id}}</td>
              <td>{{product.name}}</td>
              <td>{{product.price}}</td>
              <td>{{product.creationDate | date:'dd/MM/yyyy' }}</td>
              <td>{{product.category?.name}}</td>
              <td><img class="card-img-top img-responsive" src="{{product.imageStr}}" style="height :50px;width:100px">
              </td>
              @if(authService.isAdmin()){
              <td><a class="btn btn-danger" (click)="deleteProduct(product)">Supprimer</a></td>
              <td><a class="btn btn-success" [routerLink]="['/updateProduct', product.id]"
                  routerLinkActive="router-link-active">
                  Modifier</a></td>
              }
            </tr>
          </tbody>
          }
          @empty {
            <h1>Aucun produit trouvé</h1>
          }
      </table>
    </div>
  </div>
</div>
